---
import Layout from '../../layouts/Layout.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../../consts';
import { getCollection } from 'astro:content';
import ArticleList from '../../components/articles/ArticlesList.astro';

export async function getStaticPaths({ paginate }: any) {
  const articles = (await getCollection('article'))
      .filter((a) => a.data.visible)
      .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf())

  return paginate(articles, { pageSize: 6 });
}

const { page } = Astro.props;
---
<Layout title={SITE_TITLE} description={SITE_DESCRIPTION} >
   <h2 class="mb-4 mt-4 px-2 uppercase text-slate-200">
    All Articles 
   </h2>
   <ArticleList posts={page.data} previous={page.url.prev} next={page.url.next}/> 
</Layout>

